<?xml version="1.0" encoding="utf-8" ?>
<porter>
  <import config="translator.config"/>

  <cmake_commands>	
	<![CDATA[
      if (TARGET ${PROJECT_NAME}_gtest)
        set_target_properties(${PROJECT_NAME}_gtest PROPERTIES RUNTIME_OUTPUT_DIRECTORY "${CMAKE_CURRENT_SOURCE_DIR}/../bin")
      endif()
    ]]>
  </cmake_commands>
</porter>