<?xml version="1.0" encoding="utf-8" ?>
<porter>
  <import config="translator.config"/>

  <import config="../../output/LibraryA.Cpp/include_map.config" />
  <import config="../../output/LibraryB.Cpp/include_map.config" />
  <import config="../../output/BaseLibrary.Cpp/include_map.config" />
  <import config="../../output/CommonLibrary.Cpp/include_map.config" />

  <opt name="make_shared_lib" value="true" export_per_member="true"/>
  
  <cmake_commands>
    <![CDATA[
      set_target_properties(${PROJECT_NAME} PROPERTIES RUNTIME_OUTPUT_DIRECTORY "${CMAKE_CURRENT_SOURCE_DIR}/../bin")
      set_target_properties(${PROJECT_NAME} PROPERTIES LIBRARY_OUTPUT_DIRECTORY "${CMAKE_CURRENT_SOURCE_DIR}/../bin")
    ]]>
  </cmake_commands>
  
  <lib name="BaseLibrary.Cpp" csname="BaseLibrary">
    <cmake_link_template>
            <![CDATA[
			find_package(BaseLibrary.Cpp REQUIRED CONFIG PATHS "${CMAKE_CURRENT_SOURCE_DIR}/../BaseLibrary.Cpp" NO_DEFAULT_PATH)
            target_link_libraries(${PROJECT_NAME}_dependencies INTERFACE BaseLibrary.Cpp)
            ]]>
    </cmake_link_template>
  </lib>
  <lib name="CommonLibrary.Cpp" csname="CommonLibrary">
    <cmake_link_template>
            <![CDATA[
			find_package(CommonLibrary.Cpp REQUIRED CONFIG PATHS "${CMAKE_CURRENT_SOURCE_DIR}/../CommonLibrary.Cpp" NO_DEFAULT_PATH)
            target_link_libraries(${PROJECT_NAME}_dependencies INTERFACE CommonLibrary.Cpp)
            ]]>
    </cmake_link_template>
  </lib>
  <lib name="LibraryA.Cpp" csname="LibraryA">
    <cmake_link_template>
            <![CDATA[
			find_package(LibraryA.Cpp REQUIRED CONFIG PATHS "${CMAKE_CURRENT_SOURCE_DIR}/../LibraryA.Cpp" NO_DEFAULT_PATH)
            target_link_libraries(${PROJECT_NAME}_dependencies INTERFACE LibraryA.Cpp)
            ]]>
    </cmake_link_template>
  </lib>
  <lib name="LibraryB.Cpp" csname="LibraryB">
    <cmake_link_template>
            <![CDATA[
			find_package(LibraryB.Cpp REQUIRED CONFIG PATHS "${CMAKE_CURRENT_SOURCE_DIR}/../LibraryB.Cpp" NO_DEFAULT_PATH)
            target_link_libraries(${PROJECT_NAME}_dependencies INTERFACE LibraryB.Cpp)
            ]]>
    </cmake_link_template>
  </lib>
</porter>