<?xml version="1.0" encoding="utf-8" ?>
<porter>
  <import config="translator.config"/>

  <import config="../../output/CommonLib.Cpp/include_map.config" />

  <cmake_commands>
    <![CDATA[
	  set_target_properties(${PROJECT_NAME} PROPERTIES RUNTIME_OUTPUT_DIRECTORY "${CMAKE_CURRENT_SOURCE_DIR}/../bin")
    ]]>
  </cmake_commands>
  
  <lib name="CommonLib.Cpp" csname="CommonLib">
    <cmake_link_template>
            <![CDATA[
			find_package(CommonLib.Cpp REQUIRED CONFIG PATHS "${CMAKE_CURRENT_SOURCE_DIR}/../CommonLib.Cpp" NO_DEFAULT_PATH)
            target_link_libraries(${PROJECT_NAME}_dependencies INTERFACE CommonLib.Cpp)
            ]]>
    </cmake_link_template>
  </lib>
</porter>